*, *::after, *::before {
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
}

.movie-library {
  background-color: var(--black);
  color: var(--white);
  min-height: 100vh;
  max-height: 100vh;
}

.movie-library__inner {
  min-height: 100vh;
  background-color: #222222;
}

.movie-library__inner::before {
  content: '';
  width: 100%;
  height: 100vh;
  background-color: orange;
  display: block;
  position: absolute;
  top: -310px;
  background: 
    linear-gradient( 
      0deg, 
      rgba(34,34,34, 0.95) 35%, transparent 60%, transparent), url("./mountains.jpeg");
  background-repeat: no-repeat;
  background-position: 100% 0px;
  
}

.movie-library__title {
  font-size: 2.5em;
  margin-bottom: 1em;
  font-weight: bold;
}

.movie-library__nav {
  padding: 3em;
  padding-bottom: 0;
  position: relative;
}

.movie-library__actions {
  display: flex;
  margin-bottom: 1em;
}

.movie-library__actions select {
  width: 100%;
  padding: .40em .25em;
  border: 2px solid var(--ms-green);
  border-radius: .3em 0 0 .3em;
  font: inherit;
}

.movie-library__actions button {
  white-space: nowrap;
  background-color: var(--ms-green);
  font: inherit;
  border: 0;
  padding: .25em .80em;
  border-radius: 0 .3em .3em 0;
  cursor: pointer;
}

.movie-library__loading {
  text-align: center;
  width: 100%;
  background-color: #222222;
  padding: 1.25em 0;
  margin: 2em 0;
  position: relative;
}

.movie-library__list {
  padding: 1em 3em;
  display: grid;
  grid-template-columns: repeat( 1 , 1fr );
  gap: 2.5em;
}

@media screen and (min-width: 446px) {
  .movie-library__list {
    grid-template-columns: repeat( 2 , 1fr );
  }
}

@media screen and (min-width: 926px) {
  .movie-library__list {
    grid-template-columns: repeat( 4 , 1fr );
  }
}

.movie-library__card {
  background-color: #333333;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: .75em;
  overflow: hidden;
}

.movie-library__card::after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--ms-green) 0%, rgba(255,255,255,0) 70%);
  position: absolute;
}

.movie-library__card img {
  width: 100%;
}

.movie-library__card ul {
  padding: 1em;
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

.movie-library__card li {
  line-height: 150%;
  font-size: .9em;
}

li.movie-library__card-title {
  font-weight: bold;
  font-size: 1.25em;
}